body {
  margin: 20px;
}

header h1 {
  color: darkgreen;
  font-size: 24pt;
  font-family: sans-serif;
}

header h1 small {
  color: slategray;
  font-size: 18pt;
}

.content {
  font-size: 18pt;
}

footer {
  background-color: lightgray; 
  padding-bottom: 2px;
  padding-left: 3px;
}